<header id="site-header">
    <div id="header-inner">
        <div id="header-main-wrapper">
            <div id="header-main" class="row">
                <div class="large-4 columns media-center-lg">
                    <div id="logo-header" style="max-width: 368px;">
                        <a href="http://benchung.com" style="height: 60px;">
                            <span> <!--for vertical align-->
                         <img src="{{site.baseurl}}/images/logo-main.png" alt="Logo" title="benchung.com"/>
                         </span>
                        </a>
                    </div>
                </div>
                <div class="large-8 columns">
                    <div id="header-right">
                        <div id="nav-primary" class="nav">
                            <div class="nav-wrapper">
                                <!--                                             this remains hidden until sticky-->
                                <div id="logo-header-sticky" style="max-width: 368px;">
                                    <a href="http://benchung.com">
                                        <span> <!--for vertical align-->
                                         <img src="{{site.baseurl}}/images/logo-main.png" alt="Logo" title="benchung.com"/>
                                         </span>
                                    </a>
                                </div>

                                <nav style="height: 60px;">

                                    <div class="menu-1p-demo-main-menu-container">
                                        <ul id="menu-1p-demo-main-menu" class="custom_main_menu">
                                            <li id="menu-item-1798" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1731 current_page_item menu-item-1798"><a href="{{site.baseurl}}/">Home</a></li>
                                            <li id="menu-item-1839" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1839"><a href="{{site.baseurl}}/bio/">Bio</a>
                                                <ul class="sub-menu">
                                                    <li id="menu-item-1809" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1809 columns "><a href="{{site.baseurl}}/categories/testimonials/">Testimonials</a></li>
                                                </ul>
                                            </li>
                                            <li id="menu-item-1789" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{site.baseurl}}/blog/">Blog</a></li>
                                            <li id="menu-item-1846" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{site.baseurl}}/contact/">Contact</a></li>
                                        </ul>
                                    </div>
                                    <form role="search" method="get" id="searchform" action="{{site.baseurl}}/search/">
                                        <div>
                                            <!--        <input type="submit" id="searchsubmit" value="" />-->
                                            <a href="javascript:void(0)" class="search-submit-button">
                                                <!--            <i class="fa fa-search"></i>-->
                                            </a>
                                            <div id="searchtext">
                                                <div id="searchbtn"></div>
                                                <div id="searchwrap">
                                                    <input type="text" value="" name="query" id="s" />
                                                    <div id="searchclose"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </nav>
                            </div>
                            <!--#nav-wrapper-->
                        </div>
                        <!--#nav-primary-->

                    </div>
                </div>
            </div>
        </div>

        <div id="mobile-menu-container">
            <div id="mobile-selector">
                <img id="mobile-logo" src="{{site.baseurl}}/images/logo-main.png"
                    alt="Logo" title="benchung.com" />

                <form role="search" method="get" id="searchform" action="{{site.baseurl}}/">
                    <div>
                        <!--        <input type="submit" id="searchsubmit" value="" />-->
                        <a href="javascript:void(0)" class="search-submit-button">
                            <!--            <i class="fa fa-search"></i>-->
                        </a>
                        <div id="searchtext">
                            <div id="searchbtn"></div>
                            <div id="searchwrap">
                                <input type="text" value="" name="s" id="s" />
                                <div id="searchclose"></div>
                            </div>
                        </div>
                    </div>
                </form>
                <div id="mobile-icon"></div>
            </div>
            <div id="mobile-menu" unselectable="on" class="unselectable">
                <ul id="menu-1p-demo-main-menu-1" class="menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1731 current_page_item menu-item-1798"><a href="{{site.baseurl}}/">Home</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1839"><a href="{{site.baseurl}}/bio/">Bio</a>
<!--                             <ul class="sub-menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1809"><a href="{{site.baseurl}}/testimonial/">Testimonials</a></li>
                        </ul> -->
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1789"><a href="{{site.baseurl}}/blog/">Blog</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1846"><a href="{{site.baseurl}}/contact/">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>