<section id="sidebar" class="large-4 columns">

    <div id="search-2" class="widget widget-widget_search">
        <form role="search" method="get" id="searchform" action="{{site.baseurl}}/search/">
            <div>
                <!--        <input type="submit" id="searchsubmit" value="" />-->
                <a href="javascript:void(0)" class="search-submit-button">
                    <!--            <i class="fa fa-search"></i>-->
                </a>
                <div id="searchtext">
                    <input type="text" value="" name="query" id="s" />
                </div>

            </div>
        </form>
    </div>
    <div id="recent-posts-2" class="widget widget-widget_recent_entries">
        <div class="lineafter-header-container ">
            <h4>Recent Posts</h4>
        </div>
        <ul>
            <li>
                <a href="http://benchung.com/specialize-web-development-niche/">How to Specialize &#8211; Web Development Niche</a>
            </li>
            <li>
                <a href="http://benchung.com/this-and-bind-in-react/">This and Bind in React</a>
            </li>
            <li>
                <a href="http://benchung.com/wordpress-lamp-setup-digital-ocean/">WordPress LAMP setup on Digital Ocean</a>
            </li>
            <li>
                <a href="http://benchung.com/debugging-three-js/">Debugging Three.js</a>
            </li>
            <li>
                <a href="http://benchung.com/shorten-title-length-wordpress/">How to Shorten Title Length in WordPress</a>
            </li>
        </ul>
    </div>
</section>