<section id="sidebar" class="large-4 columns">
  <div id="text-2" class="widget widget-widget_text">
    <div class="textwidget">
      <div class="socials large round greyscale">

        <a class="social link-facebook" alt="facebook" href="https://www.facebook.com/benchungwebdev/"><i class="fa fa-facebook fa-lg simple_social"></i></a>
        <a class="social link-twitter" alt="twitter" href="https://twitter.com/BenChungDev"><i class="fa fa-twitter fa-lg simple_social"></i></a>
        <a class="social link-linkedin" alt="linkedin" href="https://www.linkedin.com/in/1pixeldesign"><i class="fa fa-linkedin fa-lg simple_social"></i></a>
        <a class="social link-googleplus" alt="googleplus" href="https://plus.google.com/+BenchungWebDev"><i class="fa fa-google-plus fa-lg simple_social"></i></a>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div id="onepix_recent_posts-3" class="widget widget-onepix_recent_posts">
    <div class="lineafter-header-container ">
      <h4>Recent Posts</h4>
    </div>


    <div id="home-category-boxes">
      <ul class="">

        <li class="onepix-recent-posts-item">
          <div class="onepix-recent-posts-thumb">
            <a href="{{site.baseurl}}/specialize-web-development-niche/" rel="bookmark" title="Permanent Link to How to Specialize &#8211; Web Development&hellip;">
              <img width="50" height="50" src="{{site.baseurl}}/images/blog/finding-a-web-development-niche-50x50.jpg"
              class="attachment-widget-thumb size-widget-thumb wp-post-image" alt="" srcset="{{site.baseurl}}/images/blog/finding-a-web-development-niche-50x50.jpg 50w, {{site.baseurl}}/images/blog/finding-a-web-development-niche-150x150.jpg 150w, {{site.baseurl}}/images/blog/finding-a-web-development-niche.jpg 250w"
              sizes="(max-width: 50px) 100vw, 50px" /> </a>
            </div>
            <div class="onepix-recent-posts-details withthumb">
              <a class="onepix-recent-posts-title" rel="bookmark" title="Permalink to How to Specialize &#8211; Web Development Niche"
              href="{{site.baseurl}}/specialize-web-development-niche/">How to Specialize &#8211; Web Development&hellip;</a>
              <div class="meta">
                <time datetime="September 17, 2016" class="onepix-recent-posts-date">
                  <span class="meta-date">
                    September 17, 2016                                                    </span>
                  </time>
                </div>
                <div class="onepix-recent-posts-excerpt" style="">
                  Many of us end up wo&hellip; </div>
                </div>
                <div class="clear"></div>
              </li>

              <li class="onepix-recent-posts-item">
                <div class="onepix-recent-posts-thumb">
                  <a href="{{site.baseurl}}/this-and-bind-in-react/" rel="bookmark" title="Permanent Link to This and Bind in React">
                    <img width="50" height="50" src="{{site.baseurl}}/images/blog/this-and-bind-in-react-50x50.jpg"
                    class="attachment-widget-thumb size-widget-thumb wp-post-image" alt="this-and-bind-in-react" srcset="{{site.baseurl}}/images/blog/this-and-bind-in-react-50x50.jpg 50w, {{site.baseurl}}/images/blog/this-and-bind-in-react-150x150.jpg 150w, {{site.baseurl}}/images/blog/this-and-bind-in-react.jpg 250w"
                    sizes="(max-width: 50px) 100vw, 50px" /> </a>
                  </div>
                  <div class="onepix-recent-posts-details withthumb">
                    <a class="onepix-recent-posts-title" rel="bookmark" title="Permalink to This and Bind in React" href="{{site.baseurl}}/this-and-bind-in-react/">This and Bind in React</a>
                    <div class="meta">
                      <time datetime="September 3, 2016" class="onepix-recent-posts-date">
                        <span class="meta-date">
                          September 3, 2016                                                    </span>
                        </time>
                      </div>
                      <div class="onepix-recent-posts-excerpt" style="">
                        When working with ev&hellip; 
                      </div>
                  </div>
                  <div class="clear"></div>
              </li>

              <li class="onepix-recent-posts-item">
                <div class="onepix-recent-posts-thumb">
                  <a href="{{site.baseurl}}/wordpress-lamp-setup-digital-ocean/" rel="bookmark" title="Permanent Link to WordPress LAMP setup on Digital Ocean">
                    <img width="50" height="50" src="{{site.baseurl}}/images/blog/wordpress-lamp-digital-ocean-50x50.jpg"
                    class="attachment-widget-thumb size-widget-thumb wp-post-image" alt="wordpress-lamp-digital-ocean"
                    srcset="{{site.baseurl}}/images/blog/wordpress-lamp-digital-ocean-50x50.jpg 50w, {{site.baseurl}}/images/blog/wordpress-lamp-digital-ocean-150x150.jpg 150w, {{site.baseurl}}/images/blog/wordpress-lamp-digital-ocean.jpg 250w"
                    sizes="(max-width: 50px) 100vw, 50px" /> </a>
                </div>
                <div class="onepix-recent-posts-details withthumb">
                    <a class="onepix-recent-posts-title" rel="bookmark" title="Permalink to WordPress LAMP setup on Digital Ocean" href="{{site.baseurl}}/wordpress-lamp-setup-digital-ocean/">WordPress LAMP setup on Digital Ocean</a>
                    <div class="meta">
                      <time datetime="August 30, 2016" class="onepix-recent-posts-date">
                        <span class="meta-date">
                          August 30, 2016                                                    </span>
                        </time>
                    </div>
                    <div class="onepix-recent-posts-excerpt" style="">
                      This is based on thi&hellip; </div>
                </div>
                <div class="clear"></div>
              </li>
        </ul>
      </div>

    </div>
    <div id="categories-2" class="widget widget-widget_categories">
      <div class="lineafter-header-container ">
        <h4>Categories</h4>
      </div>
      <ul>
        {% for category in site.categories %}
          {% if category[0] != "testimonials" %}
            <li class="cat-item"><a href="/categories/{{ category | first }}">{{ category | first }}</a></li>
          {% endif %} 
        {% endfor %}
      </ul>
    </div>
</section>