<div class="socials social-share large round greyscale">
  <a class="social link-facebook" alt="facebook" target="_blank" href="http://www.facebook.com/sharer.php?u={{site.baseurl}}{{ page.url }}&amp;t={{ page.title }}"
    title="Share on Facebook."><i style="font-size: 17px;" class="fa fa-facebook fa-lg simple_social"></i></a>

  <a class="social link-twitter" alt="twitter" target="_blank" href="http://twitter.com/home/?status={{ page.title }} - {{site.baseurl}}{{ page.url }}"
    title="Tweet this!" title="Share on Twitter."><i style="font-size: 17px;" class="fa fa-twitter fa-lg simple_social"></i></a>

  <a class="social link-linkedin" alt="linkedin" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{site.baseurl}}{{ page.url }}&title={{ page.title }}"
    title="Share on LinkedIn!" title="Share on LinkedIn"><i style="font-size: 17px;" class="fa fa-linkedin fa-lg simple_social"></i></a>

  <a class="social link-googleplus" alt="googleplus" target="_blank" href="https://plus.google.com/share?url={{site.baseurl}}{{ page.url }}"
    onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"
    title="Tweet this!" title="Share on LinkedIn"><i style="font-size: 17px;" class="fa fa-google-plus fa-lg simple_social"></i></a>
</div>